@import url(tripoli/tripoli.base.css); 
@import url(tripoli/plugins/tripoli.visual.css);
@import url(tripoli/plugins/tripoli.type.css); 
@import url(tripoli/plugins/tripoli.layout.css);
@import url(pygments.css);

body{
	
}

a{
	text-decoration: none;
}

#container{
	padding-left: 1em;
	padding-right: 1em;
	color: #151417;
}

#header{
	border-bottom: dotted #151417 1px;
}
#primary, #secondary{
	border-bottom: dotted #151417 1px;
	border-right: dotted #151417 1px;
	padding-right: 1.5em;
}
#tertiary{	
	margin-right: -2em;
	margin-top: 2em;
}
#tertiary ul{
	list-style: none;
	margin-left: 1em;
	margin-bottom: 1em;
}
#secondary ul{
	list-style: none;
	margin-left: 0;
}
#footer{
	background: #FFFFFF;
	border-top: dotted #151417 1px;
	margin-top: -.5em;
}
#header a, #primary a, #secondary a, #tertiary a, #footer a{
	color: #3F5D4C;	
}
#header a:hover, #primary a:hover, #secondary a:hover, #tertiary a:hover, #footer a:hover{
	color: #BD314D
}
div.info p{
	margin-bottom: .5em;
	padding-bottom: .25em;
}
div.post{
	border-bottom: dotted #151417 1px;
	margin-right: -1.25em;
	padding-right: 1.25em;
}
ul.errorlist{
    background: #FFD1D1;
    border: dotted #FF0000 1px;
    font-weight: bold;
    margin-left: 0;
    padding-left: 2em;
}
ul.errorlist li{
    padding: .5em 0 .5em 0;
    margin: 0;
}
#secondary div.content div, #tertiary div.content div{
    border-bottom: dotted #151417 1px;
}
#tertiary div.content div{
    margin-bottom: 1em;
}
a.tag_1{
    font-size: .5em;
}
a.tag_2{
    font-size: .25em;
}
a.tag_3{
    font-size: .75em;
}
a.tag_4{
    font-size: 1em;
}
a.tag_5{
    font-size: 1.25em;
}
a.tag_6{
    font-size: 1.5em;
}
a.tag_7{
    font-size: 1.25em;
}
a.tag_8{
    font-size: 1.75em;
}
a.tag_9{
    font-size: 2em;
}
a.tag_10{
    font-size: 2.25em;
}

div.content ul.paginator{
    list-style: none;
    text-align: right;
    padding-left: 0;
    margin-left: 0;
}
div.content ul.paginator li{
    display: inline;
    list-style: none;
}
div.content ul.paginator li.current-page{
    display: inline;
    list-style: none;
    text-decoration: underline;
}
