{% load markup post_extras tagging_tags humanize %}
<div class="post">
<h2><a href="{{ base_url }}{{ post.get_absolute_url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
<p class="date">{{ post.published_on|naturalday }}</p>
<div class="meta">
    <p>
    {% tags_for_object post as tags %}
    tagged: {% for tag in tags %}<a href="{% url posts_by_tag %}?tag={{ tag }}" rel="tag">{{ tag }}</a> {% endfor %}
    {% with post.approved_comments.count as comment_count %}
        {% if comment_count %}
    | {{ comment_count }} comment{{ comment_count|pluralize }}
        {% endif %}
    {% endwith %}
</div>
    {% if do_truncate %}
        {{ post.body|markdown:"codehilite"|safe|truncatewords_html:preview_length }}
    {% else %}
        {{ post.body|markdown:"codehilite"|safe }}
    {% endif %}
</div>
