{% load markup post_extras tagging_tags humanize %}
<div class="post">
<h2><a href="{{ base_url }}{{ post.get_absolute_url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
<div class="info">
<p><strong>By:</strong> {{ post.author }}, {{ post.published_on|naturalday }}</p>
    {% tags_for_object post as tags %}
<p><strong>Tagged:</strong> 
    {% for tag in tags %}<a href="{% url posts_by_tag %}?tag={{ tag }}" rel="tag">{{ tag }}</a> {% endfor %}
</p>
    {% with post.approved_comments.count as comment_count %}
        {% if comment_count %}
<p><strong>Comments:</strong>  {{ comment_count }}</p>
        {% endif %}
    {% endwith %}
</div>
    {% if do_truncate %}
        {{ post.body|markdown:"codehilite"|safe|truncatewords_html:preview_length }}
    {% else %}
        {{ post.body|markdown:"codehilite"|safe }}
    {% endif %}
</div>
