{% extends "base.html" %}

{% block page_title %}
 :: Tags
    {% if tag %}
 :: {{ tag }}    
    {% endif %}
{% endblock %}

{% block main_content %}
<h2>Tags</h2>
<p>
    {% for post_tag in post_tags %}
<a href="{{ "posts_by_tag"|url }}?tag={{ post_tag }}" rel="tag" class="tag_{{ post_tag.font_size }}">{{ post_tag }} ({{ post_tag.count }})</a> 
    {% endfor %}
</p>

    {% if tag %}
<h3>{{ posts_list.count()|apnumber }} post{{ posts_list.count()|makeplural }} tagged <em>{{ tag }}</em></h3>
    {% include "ul-posts.html" %}
    {% endif %}
{% endblock %}
