{% extends "base.html" %}

{% block page_title %} :: Search{{ year }}{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/search.js"></script>
{% endblock %}

{% block main_content %}
<h2>Search</h2>
<form method="get" action="{{ "search_posts"|url }}">
{{ form.as_p()|safe }}
<p><input id="submit-button" type="submit" value="Go" /></p>
</form>
<div id="search-results">
{% if search_string %}
<p>Found {{ posts.count() }} post{{ posts.count|makeplural }} with <em>{{ search_string }}</em>.</p>
{% set posts_list = posts %}
    {% include "ul-posts.html" %}
{% endif %}
</div>
{% endblock %}
