{% extends "base.html" %}

{% block extra-javascript %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/search.js"></script>
{% endblock %}

{% block main-content %}

{% load markup %}
<h2>Search</h2>
<form method="get" action="{% url search_posts %}">
{{ form.as_p }}
<p><input id="submit-button" type="submit" value="Go" /></p>
</form>
<div id="search-results">
{% if search_string %}
<p>Found {{ posts.count }} post{{ posts.count|pluralize }} with <em>{{ search_string }}</em>.</p>
{% with posts as posts_list %}
    {% include "ul-posts.html" %}
{% endwith %}
{% endif %}
</div>
{% endblock %}
