{% extends "base.html" %}

{% block page_title %} :: Posts :: {{ post.title }}{% endblock %}

{% block main_content %}
    {% if not post.is_published %}
    <h2>This post is not published yet.</h2>
    {% endif %}
    {% include "individual-post.html" %}
    {% if related_posts %}
    <div id="related_posts" class="post">
        <h3>{{ related_posts|length|apnumber|title }} Related Post{{ related_posts|length|makeplural }}</h3>
        <ul>
        {% for related_post in related_posts %}
            <li><a href="{{ related_post.get_absolute_url() }}" title="{{ related_post.title }}">{{ related_post.title }}</a> - {{ related_post.published_on|naturalday }}</li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
    <div id="comments" class="post">
    <h3>Comments</h3>
    {% if post.can_comment %}
    <p><a href="{{ "comment"|url(post.slug)}}" title="post a comment">Post a comment.</a></p>
    {% else %}
    <p>Comments are closed for this post.</p>
    {% endif %}
    {% if perms.comment.can_change %}
        {% if post.moderation_queue().count() %}
        <h4>{{ post.moderation_queue().count() }} Comment{{ post.moderation_queue().count()|makeplural }} Awaiting Moderation</h4>
            {% set comments = post.moderation_queue() %}
            {% include "view-comments.html" %}
            <h4>Approved Comments</h4>
        {% endif %}
    {% endif %}
    {% set comments = post.approved_comments() %}
    {% include "view-comments.html" %}
    </div>
{% endblock %}
