{% extends "base.html" %}

{% block main_content %}

<h2>cache status as of {{ time.strftime('%d %b %y @ %H:%M:%S') }}</h2>
{# http://effbot.org/zone/django-memcached-view.htm #}
<ul>
<li>memory usage:
    {{ stats.bytes|filesizeformat }}
<li>keys in cache:
    {{ stats.curr_items }} of {{ stats.total_items }}
<li>cache hits:
    {{ stats.get_hits }} of {{ stats.cmd_get }}:
    <b>{{ hit_rate }}%</b>
<li>cache traffic:
    {{ stats.bytes_read|filesizeformat }} in,
    {{ stats.bytes_written|filesizeformat }} out
<li>uptime: {{ stats.uptime }}
</ul>

{% endblock %}
