{% extends "base.html" %}

{% block page_title %} :: Stream{% endblock %}

{% block main_content %}

<h2>Stream</h2>

{% set day = None %}
{% for entry in entries %}
    {% if entry.published_on.day != day.day %}
        {% set day = entry.published_on %}
    <h3>{{ day|naturalday }}</h3>
    {% endif %}
    <p class="stream_{{ entry.feed.title|lower }}">
    {% if entry.is_img %}
    {{ entry.title|safe }}
    {% else %}
    <a href="{{ entry.link }}" title="{{ entry.title }}">{{ entry.title }}</a>
    {% endif %}
    <br><em>{{ entry.feed.title }}</em></p>
{% endfor %}

{% endblock %}
