@import url(tripoli/tripoli.base.css); 
@import url(tripoli/plugins/tripoli.visual.css);
@import url(tripoli/plugins/tripoli.type.css); 
@import url(tripoli/plugins/tripoli.layout.css);
@import url(pygments.css);

body{
	background: url(images/blue-header.png) 0px 0px repeat-x;
}

a{
	text-decoration: none;
}

#container{
	padding-left: 1em;
	padding-right: 1em;
    color: #2D2D29;
}

#header{
    margin-top: 0;
    padding: 1em 0 0 0;
}
#header h1 {
    margin-top: -0.25em;
}
#header div.pages-list{
    margin-top: 0.25em;
}
#header h1 a{
    color: #FFFFFF;
    font-size: 2em;
    padding: 0;
}
#header p.tagline{
    padding: 1em;
    font-size: 1.5em;
    font-style: italic;
    margin-bottom: 1em;
}
#header div.pages-list{
    float: right;
}
#header div.pages-list ul{
    list-style: none;
    margin-top: .6em;
}
#header div.pages-list ul li{
    display: inline;
    padding: 0 .05em 0 .05em;
}
#header div.pages-list ul li a{
    color: #2D2D29;
    font-size: 1.25em;
    font-weight: bold;
    padding: .5em;
}
#header div.pages-list ul li a:hover{
    color: #FFFFFF;;
}

div.menus ul.menu{
	list-style: none;
	margin-left: 1em;
	margin-bottom: 1em;
}
#footer{
	background: #FFFFFF;
	border-top: solid #DFECE6 1px;
	margin-top: -.5em;
}
#footer img {
    vertical-align: middle;
}
#primary a, #tertiary a, #secondary a,#footer a{
	color: #215A6D;	
}
#header a:hover, #primary a:hover, #secondary a:hover, #tertiary a:hover,  #footer a:hover{
	color: #BD314D
}
div.post{

}
div.page h2, div.post h2{
    font-size: 2em;
}
div.page h2{
    margin-top: 0;
}
div.post h2{
    display:inline; 
}
div.post p.date{
    color: #92C7A3;
    display:inline;
    font-style: italic;
}
div.meta {
    border-top: solid #DFECE6 .05em;
}
ul.errorlist{
    background: #FFD1D1;
    font-weight: bold;
    margin-left: 0;
    padding-left: 2em;
}
ul.errorlist li{
    padding: .5em 0 .5em 0;
    margin: 0;
}
#tertiary div.content div{
    margin-bottom: 1em;
}
a.tag_1{
    font-size: .5em;
}
a.tag_2{
    font-size: .25em;
}
a.tag_3{
    font-size: .75em;
}
a.tag_4{
    font-size: 1em;
}
a.tag_5{
    font-size: 1.25em;
}
a.tag_6{
    font-size: 1.5em;
}
a.tag_7{
    font-size: 1.25em;
}
a.tag_8{
    font-size: 1.75em;
}
a.tag_9{
    font-size: 2em;
}
a.tag_10{
    font-size: 2.25em;
}

div.content ul.paginator{
    list-style: none;
    text-align: right;
    padding-left: 0;
    padding-top: .5em;
    margin-left: 0;
}
div.content ul.paginator li{
    display: inline;
    list-style: none;
}
div.content ul.paginator li.current-page{
    display: inline;
    list-style: none;
    text-decoration: underline;
}
span.stream_published_on{
    border-top: solid #DFECE6 .05em;
    color: #92C7A3;
    display:block;
    font-style: italic;
    margin-bottom: 10px;
}
ul.stream li{
    list-style-position: inside;
    text-align: top;
}
li.stream_twitter{
    list-style-image: url(/media/images/stream/twitter.png);
}
li.stream_picasa{
    list-style-image: url(/media/images/stream/google.png);
}
li.stream_delicious{
    list-style-image: url(/media/images/stream/delicious.png);
}
li.stream_reddit{
    list-style-image: url(/media/images/stream/rss.png);
}
li.stream_google{
    list-style-image: url(/media/images/stream/google.png);
}
/**http://www.longren.org/2006/09/27/wrapping-text-inside-pre-tags/*/
pre {
 overflow-x: auto; /* Use horizontal scroller if needed; for Firefox 2, not needed in Firefox 3 */
 white-space: pre-wrap; /* css-3 */
 white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
 white-space: -pre-wrap; /* Opera 4-6 */
 white-space: -o-pre-wrap; /* Opera 7 */
 /* width: 99%; */
 word-wrap: break-word; /* Internet Explorer 5.5+ */
}
