#header{
    margin-bottom: 1em;
}
#header, .post{
    margin-top: 1em;
}
.post{
    margin-bottom: 2em;
}
#pages_list{
    text-align: right;
}
#pages_list li{
    display: inline;
}
#secondary{
    background: #EBECE4;
    padding-top: 1em;
    width: 100%;
}
h3#site_menu_toggle{
    font-size: 100%;
    margin: 0;
    padding: 0 1em 1em 0;
    text-align: right;
}
h3#site_menu_toggle.jqueryied{
    color: #005AF2;
    cursor: pointer;
}
.post h2, p.date{
    display:inline;
}
.post{
    border-bottom: solid 1px #EBECE4;
}
p.date{
    color: #838B8B;
    font-style: italic;
}
a.comment{
    color: #333333;
    text-decoration: none;
}
label{
    display: block;
}
p.stream{
    line-height: 16px;
    padding-left: 19px;
}
li.stream{
    padding-left: 20px;
}
.stream_published_on{
    color: #838B8B;
    font-style: italic;
}
.stream_digg{
    background: url(images/stream/digg.png) left top no-repeat;
}
.stream_delicious{
    background: url(images/stream/delicious.png) left top no-repeat;
}
.stream_facebook{
    background: url(images/stream/facebook.png) left top no-repeat;
}
.stream_rss{
    background: url(images/stream/feed.png) left top no-repeat;
}
.stream_flickr{
    background: url(images/stream/flickr.png) left top no-repeat;
}
.stream_google{
    background: url(images/stream/google.png) left top no-repeat;
}
.stream_magnolia{
    background: url(images/stream/magnolia.png) left top no-repeat;
}
.stream_netvibes{
    background: url(images/stream/netvibes.png) left top no-repeat;
}
.stream_newsvine{
    background: url(images/stream/newsvine.png) left top no-repeat;
}
.stream_picasa{
    background: url(images/stream/picasa.png) left top no-repeat;
}
.stream_reddit{
    background: url(images/stream/reddit.png) left top no-repeat;
}
.stream_technorati{
    background: url(images/stream/technorati.png) left top no-repeat;
}
.stream_twitter{
    background: url(images/stream/twitter.png) left top no-repeat;
}
.stream_vimeo{
    background: url(images/stream/vimeo.png) left top no-repeat;
}
.stream_yelp{
    background: url(images/stream/yelp.png) left top no-repeat;
}
.stream_delicious{
    background: url(images/stream/youtube.png) left top no-repeat;
}
