{% extends "base.html" %}

{% block page_title %} :: Posts :: {{ post.title }} :: Post a Comment{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/comments.js"></script>
{% endblock %}

{% block main_content %}
<h2>
    <a href="{{ post.get_absolute_url() }}" title="back to post">{{ post.title }}</a>
    &gt;
    Post A Comment
</h2>
<p>Add a comment to this post.</p>
<form action="{{ "comment"|url }}" method="POST">
{{ form.as_p()|safe }}
<p><input type="submit" value="Submit Comment"></p>
</form>
{% endblock %}
