<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
	<head>
	    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
		<title>{{ blog_title }} :: Blog{% block page_title %}{% endblock %}</title>
        <link rel="alternate" type="application/rss+xml" title="Latest Posts" href="{{ base_url }}{{ "django.contrib.syndication.views.feed"|url(url="latest") }}">
		<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/production.default.css" media="screen">
		<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/production.print.css" media="print">
		<!--[if IE]><link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/default.ie.css"><![endif]-->
        <script type="text/javascript" src="{{ MEDIA_URL }}js/production.js"></script>
        {% block javascript %}{% endblock %}
	</head>
	<body class="l8 wide">
		<div id="container">
			<div id="header">			
				<div class="content">				
					{% include "flatpages/list.html" %}
					<h1><a href="/" title="{{ blog_title }}">{{ blog_title }}</a></h1>
					<p class="tagline"><span class="dquo">&#8220;</span>{{ blog_tagline }}&#8221;</p>
				</div>
			</div>
			<div id="primary">
				<div class="content">				
					{% block main_content %}{% endblock %}
				</div>
			</div>
			<div id="secondary" class="stream">
			    <div class="content">
			    </div>			
			</div>
			<div id="tertiary" class="menus">
				<div class="content">
					<div id="user-menu">
					    {% include "user-menu.html" %}
					</div>
					<div id="posts-user-menu">
    					{% include "posts-user-menu.html" %}
    				</div>
    				<div id="tags">
    				    {% include "post-tags.html" %}
    				</div>
					<div id="linkroll">
					    {% include "linkroll.html" %}
					</div>
					{% block menus %}{% endblock %}
				</div>
			</div>
			<div id="footer">
				<div class="content">				
					<p>
					    <small>
					        <a href="{{ blog_copyright_url }}" title="{{ blog_copyright|safe }}">{{ blog_copyright|safe }}</a> | 
					        <a href="http://github.com/jobscry/vz-blog/tree/master" title="git repository">vz-blog</a>
					         <em>beta</em> | <a href="http://validator.w3.org/check?uri=referer">valid HTML</a>
    
					    </small>
                        <a href="http://www.djangoproject.com/">
                            <img src="{{ MEDIA_URL }}/images/djangosite80x15.gif" alt="A Django site." title="A Django site.">
                            </a>
					</p>
				</div>
			</div>
		</div>
	</body>
</html>
