{% load comments %}
<form action="{% comment_form_target %}" method="POST">
<div style="display:none;">
{{ form.content_type }}
{{ form.object_pk }}
<label for="id_honeypot">Leave this field blank.</label>
{{ form.honeypot }}
{{ form.timestamp }}
{{ form.security_hash }}
{% if user.is_authenticated %}
<input type="hidden" name="name" value="{{ user.username }}">
<input type="hidden" name="email" value="{{ user.email }}">
<input type="hidden" name="url" value="{{ base_url }}">
</div>
{% else %}
</div>
<p>{{ form.name.label_tag }}<br>{{ form.name }}</p>
{{ form.name.errors }}
<p>{{ form.email.label_tag }}<br>{{ form.email }}</p>
{{ form.email.errors }}
<p>{{ form.url.label_tag }}<br>{{ form.url }}</p>
{{ form.url.errors }}
{% endif %}
{{ form.field.errors }}
<p>{{ form.comment.label_tag }}<br>{{ form.comment }}</p>
<p><input type="submit" value="Submit Comment"></p>
</form>
