<div class="post">
<h2><a href="{{ base_url }}{{ post.get_absolute_url() }}" title="{{ post.title }}">{{ post.title }}</a></h2>
<p class="date">{{ post.published_on|naturalday }}</p>
<div class="meta">
    <p>
    tagged: {% for tag in post.tags.split(' ') %}<a href="{{ "posts_by_tag"|url }}?tag={{ tag }}" rel="tag">{{ tag }}</a> {% endfor %}, 
    {{ post|comment_count }} <a href="#comments" title="comment{{ post|comment_count|makeplural }}">comment{{ post|comment_count|makeplural }}</a>
</div>
    {% if do_truncate %}
        {{ post.body|markdown("codehilite")|truncatewords_html(blog_preview_length)|safe }}
    {% else %}
        {{ post.body|markdown("codehilite")|safe }}
    {% endif %}
</div>
