{% load humanize markup tagging_tags %}
<div class="post">
<h2><a href="{{ base_url }}{{ post.get_absolute_url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
<p class="date">{{ post.published_on|naturalday }}</p>
<div class="meta">
    <p>by: <em>{{ post.author.username }}</em> | 
{% tags_for_object post as tags %}
    tagged: {% for tag in tags %}<a href="{% url posts_by_tag %}?tag={{ tag }}" rel="tag">{{ tag }}</a> {% endfor %}| 
{% if disqus %}
	<a href="{{ base_url }}{{ post.get_absolute_url }}#disqus_thread" title="{{ post.title }} comments">comments</a>
{% endif %}
</div>
    {% if do_truncate %}
        {{ post.body|markdown:"codehilite"|truncatewords_html:blog_preview_length|safe }}
    {% else %}
        {{ post.body|markdown:"codehilite"|safe }}
    {% endif %}
</div>
