{% extends "base.html" %}

{% block page_title %}
 :: Tags
    {% if tag %}
 :: {{ tag }}    
    {% endif %}
{% endblock %}

{% load humanize %}
{% block main_content %}
<h2>Tags</h2>
<p>
    {% for post_tag in post_tags %}
<a href="{% url posts_by_tag %}?tag={{ post_tag }}" rel="tag" class="tag_{{ post_tag.font_size }}">{{ post_tag }} ({{ post_tag.count }})</a> 
    {% endfor %}
</p>

    {% if tag %}
<h3>{{ post_list|length|apnumber|title }} post{{ post_list|length|pluralize }} tagged <em>{{ tag }}</em></h3>
    {% include "posts/ul-posts.html" %}
    {% endif %}
{% endblock %}
