{% extends "base.html" %}

{% block page_title %} :: Search{{ year }}{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/search.js"></script>
{% endblock %}

{% block main_content %}
<h2>Search</h2>
<form method="get" action="{% url search_posts %}">
{{ form.as_p|safe }}
<p><input id="submit-button" type="submit" value="Go" /></p>
</form>
<div id="search-results">
{% if search_string %}
{% with post_list|length as count %}
<p>Found {{ count }} post{{ count|pluralize }} with <em>{{ search_string }}</em>.</p>
{% endwith %}
{% include "posts/ul-posts.html" %}
{% endif %}
</div>
{% endblock %}
