{% extends "base.html" %}
{% block page_title %} :: {{ post.title }}{% endblock %}
{% load humanize %}
{% block main_content %}
    {% if not post.is_published %}
    <h2>This post is not published yet.</h2>
    {% endif %}
    {% include "posts/individual-post.html" %}
    {% if related_posts %}
	{% with related_posts|length as count %}
    <div id="related_posts" class="post">
        <h3>{{ count|apnumber|title }} Related Post{{ count|pluralize }}</h3>
{% endwith %}
        <ul>
        {% for related_post in related_posts %}
            <li><a href="{{ related_post.get_absolute_url }}" title="{{ related_post.title }}">{{ related_post.title }}</a> - {{ related_post.published_on|naturalday }}</li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
{% if disqus %}
{{ disqus_iframe|safe }}
{{ disqus_js|safe }}
{% endif %}
{% endblock %}
